
/* offer */

#offer
	background: transparent url('/img/offer.jpg') no-repeat scroll center center / cover

	.offer_text
		font-family: $f1
		font-size: 56px
		color: $c1
		

/* offer ADAPTIVE */

// XXL
@media (max-width: 1679px)
	#offer
		//

// XL
@media (max-width: 1439px) 
	#offer
		//

// LG
@media (max-width: 1199px)
	#offer
		//

// MD
@media (max-width: 991px) 
	#offer
		//

// SM 
@media (max-width: 767px)
	#offer
		//

// XS
@media (max-width: 575px) 
	#offer
		//


/* offer: end */

