* {
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #141414;
  color: #fff;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.font_akcent {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lights {
  height: 20px;
  background: #AE0F13 url("../img/divider.jpg") repeat-x scroll center center;
}

h2 {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #FDAE00;
  font-size: 40px;
  margin-bottom: 60px;
}

p {
  line-height: 170%;
}

.text_akcent {
  color: #FDAE00;
}

a:hover {
  opacity: 0.85;
}

.hr {
  width: 50px;
  height: 50px;
  background: transparent url("data:image/svg+xml,%3Csvg width='51' height='2' viewBox='0 0 50 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='50' y2='1' stroke='%23AE0F13' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat scroll center center/contain;
}

.swiper-button-next, .swiper-button-prev {
  color: #FDAE00;
}

/* // LG */
@media (max-width: 1199px) {
  body {
    font-size: 16px;
  }
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  h2 {
    font-size: 32px;
  }
}
/* TOPBAR */
#topbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
#topbar a {
  color: #fff;
  text-decoration: none;
  vertical-align: bottom;
  display: inline-block;
  align-self: center;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 700;
}
#topbar .top_phone {
  line-height: 30px;
  align-self: center;
  padding-top: 8px;
}
#topbar .top_phone:hover {
  color: #FDAE00;
}
#topbar .top_whatsapp {
  margin-left: auto;
}
#topbar .top_whatsapp img {
  width: 30px;
  height: 30px;
}

/* // LG */
@media (max-width: 1199px) {
  #topbar .top_phone {
    padding-top: 4px;
  }
}
/* / TOPBAR */
/* HEADER */
header {
  height: 340px;
  text-align: center;
  background: transparent url("../img/header.jpg") no-repeat scroll center center/cover;
  display: flex;
  align-items: end;
}
header .main_menu {
  margin-bottom: -20px;
  background-color: #AE0F13;
  border: 2px solid #FDAE00;
}
header .main_menu a {
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat Subrayada", sans-serif;
  text-decoration: none;
}
header .main_menu a:hover {
  color: #FDAE00;
}

#offcanvasnav {
  background-color: #AE0F13;
  font-family: "Montserrat Subrayada", sans-serif;
  color: #FDAE00;
  max-width: 320px;
}
#offcanvasnav .btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}
#offcanvasnav .btn-close:hover {
  color: #FDAE00;
}
#offcanvasnav .nav-item {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #fff;
}
#offcanvasnav .nav-item:hover {
  color: #FDAE00;
}

/* // LG */
@media (max-width: 1199px) {
  header .main_menu {
    margin-bottom: -10px;
  }
  header .main_menu a {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* // MD */
@media (max-width: 991px) {
  header {
    height: 260px;
  }
  header .main_menu {
    display: none;
  }
}
/* /HEADER */
/* offer */
#offer {
  background: transparent url("../img/offer.jpg") no-repeat scroll center center/cover;
}
#offer .offer_text {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 56px;
  color: #FDAE00;
}

/* offer ADAPTIVE */
@media (max-width: 1439px) {
  #offer .offer_text {
    font-size: 45px;
  }
}
@media (max-width: 1199px) {
  #offer .offer_text {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  #offer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  #offer .offer_text {
    font-size: 32px;
  }
}
/* offer: end */
/* slider */
#slider {
  text-align: center;
}
#slider .slider_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#slider .slider_item:hover::after {
  opacity: 0.8;
}
#slider .slider_item::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  margin-left: -104px;
  margin-top: -104px;
  width: 207px;
  height: 207px;
  background: transparent url("../img/play_button.svg") no-repeat scroll center center/cover;
}

/* slider ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
@media (max-width: 1199px) {
  #slider {
    min-height: 440px;
  }
}
/* // MD */
/* // SM */
/* // XS */
/* slider: end */
/* about */
#about {
  background: transparent url("../img/about_bg.jpg") no-repeat scroll center center/cover;
}

/* about ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* about: end */
/* benefits */
#benefits {
  background: transparent url("../img/benefits_bg.jpg") repeat-y scroll center center/contain;
}

/* benefits ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* benefits: end */
/* services */
#services {
  background: transparent url("../img/services_bg.jpg") no-repeat scroll center center/cover;
}
#services .service_item {
  border-radius: 20px;
  overflow: hidden;
}

/* services ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* services: end */
/* team */
#team {
  background: transparent url("../img/benefits_bg.jpg") repeat-y scroll center center/contain;
}

/* team ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* team: end */
/* history */
#history {
  background: transparent url("../img/history_bg.jpg") no-repeat scroll center center/cover;
}

/* history ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* history: end */
/* clients */
#clients {
  background: transparent url("../img/clients_bg.jpg") no-repeat scroll center center/cover;
}

/* clients ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* clients: end */
/* contacts */
#contacts {
  background: transparent url("../img/contacts_bg.jpg") no-repeat scroll center center/cover;
}
#contacts strong {
  color: #FDAE00;
}
#contacts a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat Subrayada", sans-serif;
}

/* contacts ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* contacts: end */
/* footer */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #060F0A;
}
footer a {
  color: #FDAE00;
  text-decoration: none;
  font-size: 16px;
}
footer strong {
  color: #FDAE00;
}
footer #footer_copyright {
  margin-top: 60px;
}

/* footer ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
@media (max-width: 1199px) {
  footer a {
    font-size: 15px;
  }
}
/* // MD */
/* // SM */
/* // XS */
/* footer: end */
/* FLOAT */
.fl-fl {
  background: #AE0F13;
  border: 2px solid #FDAE00;
  text-transform: uppercase;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -140px;
  z-index: 1000;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 16px;
  transition: all 0.25s ease;
}
.fl-fl > div {
  display: flex;
  align-items: center;
}
.fl-fl:hover {
  right: -2px;
}
.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 41px !important;
  vertical-align: super !important;
}

.d-relative {
  position: relative;
}

.link-stretched {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.bi {
  font-size: 25px;
  color: #fff;
  padding: 4px 0 3px;
  width: 40px;
  margin-left: 8px;
}

.fl-fl.float-op {
  right: -188px;
}
.fl-fl.float-op:hover {
  right: -188px;
}

.float-01 {
  top: 105px;
}

.float-02 {
  top: 160px;
}

.float-03 {
  top: 215px;
}

.float-04 {
  top: 270px;
}

.float-05 {
  top: 325px;
}

.float-06 {
  top: 380px;
}

.float-07 {
  top: 435px;
}

/* MD */
@media (max-width: 999px) {
  .float-sm .fl-fl {
    right: -190px;
  }
  .float-sm .fl-fl.float-op {
    right: -148px;
  }
  .float-sm .fl-fl.float-op:hover {
    right: -148px;
  }
  .float-sm.active .fl-fl {
    right: -148px;
  }
  .float-sm.active .fl-fl.float-op {
    right: -148px;
  }
  .float-sm.active .fl-fl.float-op:hover {
    right: -148px;
  }
  .float-sm.active .fl-fl.float-op .bi-plus {
    display: none;
  }
}
/* FLOAT: end *//*# sourceMappingURL=styles.css.map */